#ok_popup.neo_pupup.mfp-hide.zoom-anim-dialog
    h1 Ваша заявка принята!
    p Мы свяжимся с Вами в ближайшее время

#backcall_popup.neo_pupup.mfp-hide.zoom-anim-dialog
    h1 Заказать обратный звонок

    .callback_form
        form(action="")
            span.neo_input__head Ваше имя
            input(type="text" class='neo_input' required) 

            span.neo_input__head Ваш телефон
            input(type="text" class='neo_input phone' required)

            button.btn.active Перезвоните мне 


#avail_popup.neo_pupup.mfp-hide.zoom-anim-dialog
    h1 Уточнить наличие

    .callback_form
        form(action="")
            span.neo_input__head Ваше имя
            input(type="text" class='neo_input' required) 

            span.neo_input__head Ваш телефон
            input(type="text" class='neo_input phone' required)

            button.btn.active Перезвоните мне 


#action_popup.neo_pupup.mfp-hide.zoom-anim-dialog
    h1 Участвовать в акции

    .callback_form
        form(action="")
            span.neo_input__head Ваше имя
            input(type="text" class='neo_input' required) 

            span.neo_input__head Ваш телефон
            input(type="text" class='neo_input phone' required)

            button.btn.active Принять участие


#message_popup.neo_pupup.mfp-hide.zoom-anim-dialog
    h1 Написать сообщение 

    .callback_form
        form(action="")
            span.neo_input__head Ваше имя
            input(type="text" class='neo_input' required) 

            span.neo_input__head Ваш телефон
            input(type="text" class='neo_input phone' required)
            
            span.neo_input__head Сообщение
            textarea(name="" class='neo_textarea' required)

            button.btn.active Написать сообщение 


#question_popup.neo_pupup.mfp-hide.zoom-anim-dialog
    h1 Задать вопрос менеджеру 

    .callback_form
        form(action="")
            span.neo_input__head Ваше имя
            input(type="text" class='neo_input' required) 

            span.neo_input__head Ваш телефон
            input(type="text" class='neo_input phone' required)
            
            span.neo_input__head Ваш вопрос
            textarea(name="" class='neo_textarea' required)

            button.btn.active Написать сообщение 





//- .divuk(
//-     style="z-index: 0; width: 200px; height: 200px; background: #fff; position: fixed; right: 20%; bottom: 0; opacity: 0.8"
//-     data-300-end="transform: translateY(0%) skewY(-20deg)"
//-     data-end="transform: translateY(-300%) skewY(-20deg)")


// footer
section.footer



    .container

        nav.main_menu
            a(href="#").active Обьекты
            a(href="#") О компании
            a(href="#") События
            a(href="#") Контакты

        include ../blocks/block_social.jade
        p.soc_block__text Мы рады новым друзьям!

        p.copyrights 
            | создание сайта 
            a(href="http://platzkart.ru/" target="_blank") Platzkart