#backcall_popup.neo_pupup.mfp-hide.zoom-anim-dialog
    h1 Форма обратной связи
    p dffdsf 





// footer
section.footer

    .divuk(style="width: 200px; height: 200px; background: red; absolute: fixed; right: 20%; bottom: 30%;"
    data-top-bottom="top: -30%"
    data-bottom-top="top: 50%")

    .container

        nav.main_menu
            a(href="#").active Обьекты
            a(href="#") О компании
            a(href="#") События
            a(href="#") Контакты

        include ../blocks/block_social.jade
        p.soc_block__text Мы рады новым друзьям!

        p.copyrights 
            | создание сайта 
            a(href="http://platzkart.ru/" target="_blank") Platzkart