// header
section.header.js-sticky-header

	a(href="/")
		.header_corner_logo

	include ../blocks/block_back_call.jade

	nav.main_menu
		a(href="#").active Обьекты
		a(href="#") О компании
		a(href="#") События
		a(href="#") Контакты

	a(href="#" class="mobile_menu js-open-mobile-menu") Меню