.partners       
    
    h3 Партнёры

    .partners_grid

        .partner
            img(src="i/parnter_sber.png", class="partner__pic")
            span Банк Москвы

        .partner
            img(src="i/parnter_sber.png", class="partner__pic")
            span Банк Москвы

        .partner
            img(src="i/parnter_sber.png", class="partner__pic")
            span Банк Москвы

        .partner
            img(src="i/parnter_sber.png", class="partner__pic")
            span Банк Москвы