// alone text
section.alone_text
    .container
        .alone_text_block
            h3 Заголовок текстового блока
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod