// object_menu
section.object_menu.rezid

    .object_menu_btn.js-close-menu
        | ×

    //! object_menu.cinema
    //! object_menu.eji

    .object_menu__content
   
        a(href="")
            img(src="i/logo_rezid_white.png", class="object_menu__logo")
            // img(src="i/object_logo_cinema.png", class="object_menu__logo")

        ul.object_menu__list
            li
                a(href="#") Планировки

            li
                a(href="#") Место и окружение

            li
                a(href="#") Условия покупки

            li
                a(href="#") События

            li.active
                | О проекте

                // ul.submenu

                //     li.active 
                //         a(href="#") Преимущества
                //     li 
                //         a(href="#") Динамика строительства
                //     li 
                //         a(href="#") Правовая информация


