// object_menu
section.object_menu.sidebar.eji

    // object_menu.sidebar.cinema

    .object_menu__content
    
        a(href="")
            img(src="i/object_logo_eji.png", class="object_menu__logo")
            // img(src="i/object_logo_cinema.png", class="object_menu__logo")

        ul.object_menu__list
            li.active
                a(href="#") Планировки

            li
                a(href="#") Место и окружение

            li
                a(href="#") Условия покупки

            li
                a(href="#") События

            li
                a(href="#") О проекте
