// object_menu
section.object_menu.sidebar.eji
    
    img(src="i/object_logo_eji.png", class="object_menu__logo")

    ul.object_menu__list
        li
            a(href="#") Планировки

        li.active
            a(href="#") Место и окружение

        li
            a(href="#") Условия покупки

        li
            a(href="#") События

        li
            a(href="#") О проекте
