// managers
section.managers
    .container

        h2 Наши менеджеры готовы ответить на ваши вопросы

        .swiper-container.swiper-managers
            .swiper-wrapper
                .swiper-slide.one_manager
                    .one_manager__block
                        img.one_manager__pic(src="i/manager.jpg", alt="")
                    a(href="#question_popup").backcall_block.js-open-question-popup
                        span.backcall_block__phone 8(861) 777-77-77
                        span.backcall_block__text Задать вопрос менеджеру
                    p.one_manager__text 
                        | Настя Карпова
                        br
                        | ответит на ваши вопросы

                .swiper-slide.one_manager
                    .one_manager__block
                        img.one_manager__pic(src="i/manager.jpg", alt="")
                    a(href="#question_popup").backcall_block.js-open-question-popup
                        span.backcall_block__phone 8(861) 777-77-77
                        span.backcall_block__text Задать вопрос менеджеру
                    p.one_manager__text 
                        | Настя Карпова
                        br
                        | ответит на ваши вопросы

                .swiper-slide.one_manager
                    .one_manager__block
                        img.one_manager__pic(src="i/manager.jpg", alt="")
                    a(href="#question_popup").backcall_block.js-open-question-popup
                        span.backcall_block__phone 8(861) 777-77-77
                        span.backcall_block__text Задать вопрос менеджеру
                    p.one_manager__text 
                        | Настя Карпова
                        br
                        | ответит на ваши вопросы

                .swiper-slide.one_manager
                    .one_manager__block
                        img.one_manager__pic(src="i/manager.jpg", alt="")
                    a(href="#question_popup").backcall_block.js-open-question-popup
                        span.backcall_block__phone 8(861) 777-77-77
                        span.backcall_block__text Задать вопрос менеджеру
                    p.one_manager__text 
                        | Настя Карпова
                        br
                        | ответит на ваши вопросы

                .swiper-slide.one_manager
                    .one_manager__block
                        img.one_manager__pic(src="i/manager.jpg", alt="")
                    a(href="#question_popup").backcall_block.js-open-question-popup
                        span.backcall_block__phone 8(861) 777-77-77
                        span.backcall_block__text Задать вопрос менеджеру
                    p.one_manager__text 
                        | Настя Карпова
                        br
                        | ответит на ваши вопросы

                .swiper-slide.one_manager
                    .one_manager__block
                        img.one_manager__pic(src="i/manager.jpg", alt="")
                    a(href="#question_popup").backcall_block.js-open-question-popup
                        span.backcall_block__phone 8(861) 777-77-77
                        span.backcall_block__text Задать вопрос менеджеру
                    p.one_manager__text 
                        | Настя Карпова
                        br
                        | ответит на ваши вопросы

                .swiper-slide.one_manager
                    .one_manager__block
                        img.one_manager__pic(src="i/manager.jpg", alt="")
                    a(href="#question_popup").backcall_block.js-open-question-popup
                        span.backcall_block__phone 8(861) 777-77-77
                        span.backcall_block__text Задать вопрос менеджеру
                    p.one_manager__text 
                        | Настя Карпова
                        br
                        | ответит на ваши вопросы