// object_tizers_medium
section.object_tizers_medium
    .container

        h2.number_header
            span Объекты в продаже
                i 04
       
        .obj_tizers_m__grid

            .one_obj_tizers_m
                .one_obj_tizers_m__block
                    a(href="#")
                        img.one_obj_tizers_m__pic(src="i/object_tizer_medium.png", alt="")
                    .one_obj_tizers_m__info
                        a(href="#")
                            span.one_obj_tizers_m__heading ЖК «Фаворит»
                        span.one_obj_tizers_m__where.icon_text.where Краснодар, ул. Айвазовского, 116
                        span.one_obj_tizers_m__when.icon_text.when Сдача: IV квартал 2016
                        span.one_obj_tizers_m__num.icon_text.num 1 литер
                        a.btn.arrow Подробнее

                    span.one_obj_tizers_m__status доступно


            .one_obj_tizers_m
                .one_obj_tizers_m__block
                    a(href="#")
                        img.one_obj_tizers_m__pic(src="i/object_tizer_medium.png", alt="")
                    .one_obj_tizers_m__info
                        a(href="#")
                            span.one_obj_tizers_m__heading ЖК «Фаворит»
                        span.one_obj_tizers_m__where.icon_text.where Краснодар, ул. Айвазовского, 116
                        span.one_obj_tizers_m__when.icon_text.when Сдача: IV квартал 2016
                        span.one_obj_tizers_m__num.icon_text.num 1 литер
                        a.btn.arrow Подробнее

                    span.one_obj_tizers_m__status доступно


            .one_obj_tizers_m
                .one_obj_tizers_m__block
                    a(href="#")
                        img.one_obj_tizers_m__pic(src="i/object_tizer_medium.png", alt="")
                    .one_obj_tizers_m__info
                        a(href="#")
                            span.one_obj_tizers_m__heading ЖК «Фаворит»
                        span.one_obj_tizers_m__where.icon_text.where Краснодар, ул. Айвазовского, 116
                        span.one_obj_tizers_m__when.icon_text.when Сдача: IV квартал 2016
                        span.one_obj_tizers_m__num.icon_text.num 1 литер
                        a.btn.arrow Подробнее

                    span.one_obj_tizers_m__status доступно

            .one_obj_tizers_m
                .one_obj_tizers_m__block
                    a(href="#")
                        img.one_obj_tizers_m__pic(src="i/object_tizer_medium.png", alt="")
                    .one_obj_tizers_m__info
                        a(href="#")
                            span.one_obj_tizers_m__heading ЖК «Фаворит»
                        span.one_obj_tizers_m__where.icon_text.where Краснодар, ул. Айвазовского, 116
                        span.one_obj_tizers_m__when.icon_text.when Сдача: IV квартал 2016
                        span.one_obj_tizers_m__num.icon_text.num 1 литер
                        a.btn.arrow Подробнее

                    span.one_obj_tizers_m__status доступно

