// object_tizers_small
section.object_tizers_small
    .container

        h2 Наши объекты 
        
        .obj_tizers_s__grid

            .one_obj_tizers_s
                .one_obj_tizers_s__block
                    a(href="#")
                        span.one_obj_tizers_s__heading ЖК «Фаворит»
                    a(href="#")
                        img.one_obj_tizers_s__pic(src="i/object_tizer_small.png", alt="")
                    span.one_obj_tizers_s__status доступно

            .one_obj_tizers_s
                .one_obj_tizers_s__block.is_not_availible
                    a(href="#")
                        span.one_obj_tizers_s__heading ЖК «Фаворит»
                    a(href="#")
                        img.one_obj_tizers_s__pic(src="i/object_tizer_small.png", alt="")
                    span.one_obj_tizers_s__status распродан

