// actions
section.actions
    .container

        h2 Акции 
            a(href="#") все акции
        
        .action_grid

            .one_action
                .one_action__block
                    img.one_action__pic(src="i/action1.jpg", alt="")
                span.one_action__heading Нам 5 и вам 5!
                p.one_action__text
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nisi obcaecati libero, voluptatibus eaque, eos sed distinctio ut quis reiciendis.

            .one_action
                .one_action__block
                    img.one_action__pic(src="i/action2.jpg", alt="")
                span.one_action__heading Нам 5 и вам 5!
                p.one_action__text
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nisi obcaecati libero, voluptatibus eaque, eos sed distinctio ut quis reiciendis. 

            .one_action
                .one_action__block
                    img.one_action__pic(src="i/action3.jpg", alt="")
                span.one_action__heading Нам 5 и вам 5!
                p.one_action__text
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nisi obcaecati libero, voluptatibus eaque, eos sed distinctio ut quis reiciendis. 
