// company_people
section.company_people
    .container

        .one_company_people
            .one_company_people__photo
                .one_company_people__block
                    img.one_company_people__pic(src="i/company_people.jpg", alt="")
            .one_company_people__info
                p.name
                    span Фамилия 
                    | Имя Отчество
                .btn Написать сообщение

        .one_company_people
            .one_company_people__photo
                .one_company_people__block
                    img.one_company_people__pic(src="i/company_people.jpg", alt="")
            .one_company_people__info
                p.name
                    span Фамилия 
                    | Имя Отчество
                    


