// actions
section.actions
    .container

        h2 
            a(href="#") Акции 
            a(href="#" class="all_actions") все акции
        
        .action_grid

            .one_action
                img.one_action__pic(src="i/action.png", alt="")
                a(href="#").one_action__block
                
                a(href="#").one_action__heading Нам 5 и вам 5!
                p.one_action__text
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nisi obcaecati libero, voluptatibus eaque, eos sed distinctio ut quis reiciendis.

            .one_action
                img.one_action__pic(src="i/action.png", alt="")
                a(href="#").one_action__block
                
                a(href="#").one_action__heading Нам 5 и вам 5!
                p.one_action__text
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nisi obcaecati libero, voluptatibus eaque, eos sed distinctio ut quis reiciendis. 

            .one_action
                img.one_action__pic(src="i/action.png", alt="")
                a(href="#").one_action__block

                a(href="#").one_action__heading Нам 5 и вам 5!
                p.one_action__text
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nisi obcaecati libero, voluptatibus eaque, eos sed distinctio ut quis reiciendis. 
