// company_people
section.company_people
    .container

        .one_company_people
            .one_company_people__photo
                .one_company_people__block
                    img.one_company_people__pic(src="i/company_people_unanov.png", alt="")
            .one_company_people__info
                p.name
                    span Юнанов
                    | Борис Генадьевич 
                span.icon_text.post генеральный деректор
                span.icon_text.icon_phone телефон: 8 (861) 203-46-20
                span.icon_text.mail email: 
                    a(href="mailto:mail@neometria.ru") mail@neometria.ru
                a(href="#message_popup").btn.arrow.js-open-message-popup Написать сообщение

        .one_company_people
            .one_company_people__photo
                .one_company_people__block
                    img.one_company_people__pic(src="i/company_people_tolok.png", alt="")
            .one_company_people__info
                p.name
                    span Толок
                    | Станислав Николаевич 
                span.icon_text.post Финансовый директор
                span.icon_text.icon_phone телефон 8 (861) 777-77-77
                span.icon_text.mail email: 
                    a(href="mailto:mail@neometria.ru") mail@neometria.ru
                a(href="#message_popup").btn.arrow.js-open-message-popup Написать сообщение

        .one_company_people
            .one_company_people__photo
                .one_company_people__block
                    img.one_company_people__pic(src="i/company_people_kostikova.png", alt="")
            .one_company_people__info
                p.name
                    span Костикова
                    | Виктория Владимировна 
                span.icon_text.post Руководитель отдела продаж
                span.icon_text.icon_phone телефон 8 (861) 777-77-77
                span.icon_text.mail email: 
                    a(href="mailto:mail@neometria.ru") mail@neometria.ru
                a(href="#message_popup").btn.arrow.js-open-message-popup Написать сообщение

        .one_company_people
            .one_company_people__photo
                .one_company_people__block
                    img.one_company_people__pic(src="i/company_people_ivanova.png", alt="")
            .one_company_people__info
                p.name
                    span Иванова
                    | Илона Генадьевна 
                span.icon_text.post Лучший сотрудник месяца
                span.icon_text.icon_phone телефон 8 (861) 777-77-77
                span.icon_text.mail email: 
                    a(href="mailto:mail@neometria.ru") mail@neometria.ru
                a(href="#message_popup").btn.arrow.js-open-message-popup Написать сообщение

        .one_company_people
            .one_company_people__photo
                .one_company_people__block
                    img.one_company_people__pic(src="i/company_people_nikogosyan.png", alt="")
            .one_company_people__info
                p.name
                    span Никогосян
                    | Кристина Рафаэлевна 
                span.icon_text.post Лучший сотрудник месяца
                span.icon_text.icon_phone телефон 8 (861) 777-77-77
                span.icon_text.mail email: 
                    a(href="mailto:mail@neometria.ru") mail@neometria.ru
                a(href="#message_popup").btn.arrow.js-open-message-popup Написать сообщение

        hr.line

        .company_address
            .company_address__pic
                img(src="i/main_logo.png", alt="", width="182", height="202")
            .company_address__info
                p.company_name Неометрия
                span.company_name_label Строительная компания 
                span.icon_text.address г. Краснодар, ул. Комсомольская, 15, 4-й этаж
                span.icon_text.icon_phone телефон 8 (800) 250-10-56
                span.icon_text.worktime с 9:00 до 18:00 
                span.icon_text.mail email: 
                    a(href="mailto:mail@neometria.ru") mail@neometria.ru
        
                include block_social.jade

        .company_offices 
            .company_office
                p.office_name Офис продаж жк «ЕЖИ»
                span.office_label Строительная компания 
                span.icon_text.address г. Краснодар, ул. Табачная, 1/1
                span.icon_text.icon_phone телефон 8 (861) 203-46-20
                span.icon_text.worktime с 9:00 до 18:00 
                span.icon_text.mail email: 
                    a(href="mailto:mail@neometria.ru") mail@neometria.ru
            
            .company_office
                p.office_name Офис продаж ЖК «Синема»
                span.office_label Строительная компания 
                span.icon_text.address г. Краснодар, ул. Айвазовского, 116
                span.icon_text.icon_phone телефон 8 (861) 203-46-20
                span.icon_text.worktime с 9:00 до 18:00 
                span.icon_text.mail email: 
                    a(href="mailto:mail@neometria.ru") mail@neometria.ru
        
    div#offices_map