// object_tizers_small
section.object_tizers_small
    .container

        h2 
            a(href="#") Наши объекты 
        
        .obj_tizers_s__grid

            

            .one_obj_tizers_s
                .one_obj_tizers_s__block
                    a(href="#")
                        span.one_obj_tizers_s__heading ЖК «Резиденция»
                    a(href="#")
                        img.one_obj_tizers_s__pic(src="i/object_tizer_small_rezid.png", alt="")
                    span.one_obj_tizers_s__status в продаже
                    span.one_obj_tizers_s__city Новороссийск

            .one_obj_tizers_s
                .one_obj_tizers_s__block
                    a(href="#")
                        span.one_obj_tizers_s__heading ЖК «Синема»
                    a(href="#")
                        img.one_obj_tizers_s__pic(src="i/object_tizer_small_cinema.png", alt="")
                    span.one_obj_tizers_s__status в продаже
                    span.one_obj_tizers_s__city Краснодар

            .one_obj_tizers_s
                .one_obj_tizers_s__block
                    a(href="#")
                        span.one_obj_tizers_s__heading ЖК «Ежи»
                    a(href="#")
                        img.one_obj_tizers_s__pic(src="i/object_tizer_small_eji.png", alt="")
                    span.one_obj_tizers_s__status в продаже
                    span.one_obj_tizers_s__city Краснодар

            .one_obj_tizers_s
                .one_obj_tizers_s__block.is_not_availible
                    a(href="#")
                        span.one_obj_tizers_s__heading ЖК «Зелёный квартал»
                    a(href="#")
                        img.one_obj_tizers_s__pic(src="i/object_tizer_small_kvartal.png", alt="")
                    span.one_obj_tizers_s__status распродан
                    span.one_obj_tizers_s__city Краснодар

            .one_obj_tizers_s
                .one_obj_tizers_s__block.is_not_availible
                    a(href="#")
                        span.one_obj_tizers_s__heading ЖК «Фаворит»
                    a(href="#")
                        img.one_obj_tizers_s__pic(src="i/object_tizer_small_favorit.png", alt="")
                    span.one_obj_tizers_s__status распродан
                    span.one_obj_tizers_s__city Краснодар


     
     
     
