/*
*   object_menu
*/
.object_menu {
    width: 25px;
    transition: all 0.4s;

    &__content {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-10px);
        transition: all .5s;
    }

    &.sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;    
        padding-top: 150px;
        z-index: 100;

        &.eji {
            background-color: rgba(108, 136, 25, 0.8);
            
            a {
                color: #fff;
            }

        }
    }

    &__logo {
        margin-left: 40px;
        margin-bottom: 20px;
        display: block;
    }

    &__list {
        margin-right: -50px;
        
        li {
            display: block;
            margin: 10px 0;
            padding-left: 30px;
            transition: padding 0.3s;

            &:hover {
                padding-left: 35px;  
            }


            &.active {
                padding-left: 65px;
                background-color: #272727;
                height: 45px;
                width: 220px;

                a {
                    font-size: 15px;
                    line-height: 45px;
                    color: #fff;
                }
            }
        }

        a {
            color: #1d1d1b;
            line-height: 30px;
            font-size: 13px;
            text-transform: uppercase;
            font-family: $narrow;
            font-weight: 300;
            display: inline-block;


        }
    }

    &:hover {
        width: 160px;

        .object_menu__content {
            visibility: visible;
            display: block;
            opacity: 1;
            transform: translateX(0);
        }
    }
}