/*
*   managers
*/
.managers {
    padding: 50px 0;

    h2 {
        @extend section_h2;
    }
}

.one_manager {
    cursor: pointer;

    
    &__block {
        width: 140px;
        height: 220px;
        transform: skewY(-20deg) scale(0.7);
        display: block;
        overflow: hidden;   
        box-sizing: content-box;
        transition: all 0.3s;
        margin: 35px auto;
        backface-visibility: hidden;
        transition: all 0.3s;
        opacity: 0.3; 

        .swiper-slide-active & {
            box-shadow: 12px 12px 14px rgba(0,0,0,0.2);
            transform: skewY(-20deg) scale(1);
            opacity: 1;
        }
    }

    &__pic {
        transform: skewY(20deg);
        margin-top: -40px;
        display: block; 
        backface-visibility: hidden;
    }

    &__text {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        font: $custom;
        color: #6c7476;
        margin-top: 20px;
        display: none;

        .swiper-slide-active & {
            display: block;
        }
    }

    .backcall_block {
        display: none;
        margin: 50px auto 0;
    }

}

.swiper-slide-active .backcall_block  {
    display: block;
}