/*
*   full_block
*/
.setka {
 	margin: 0 0 50px 0;
}

.setka__grid {

}

.setka__row {
	width: 100%;
	margin: 0 auto;
	position: relative;
	font-size: 0;
}

.setka__col {
	position: relative;
	height: 170px;
	display: block;
	display: inline-block;
	padding: 15px;

	&.pl40 {
		@media (--w768) {
			padding-left: 40px;
		}
		@media (--w768) {
			.panel {
				padding-left: 40px;
			}
			
		}
	}

	h2 {
		position: relative;
		font-size: 24px;
		line-height: 26px;
		text-transform: uppercase;
		font-family: $narrow;
		font-weight: 300;
		color: #fff;
		margin-bottom: 10px;
	}

	p {
		font-size: 14px;
		line-height: 12px;
		font-family: $narrow;
		font-weight: 300;
		width: 65%;
		color: #fff;
		margin-bottom: 10px;
	}

	span {
		display: block;
	    color: #333;
	    font-size: 14px;
	    line-height: 21px;
	    font-weight: 300;
	    font-family: $narrow;
	    padding-left: 25px;
	    position: relative;
	}

	.panel {
		position: absolute;
		bottom: 0;
		left: 0;
		
		width: 100%;
		padding: 10px 15px;

		&.dark {
			background-color: rgba(0,0,0, 0.5);
		}
	}


	.row_type0 &.col1 {
		width: 100%;
		position: relative;
		background-color: #272727;
		height: 340px;

		@media (--w768) {
			width: 33.33333333333333333%;
		}
		
	}

	.row_type0 &.col2 {
		width: 100%;
		position: relative;
		background-color: $yellow;
		height: 340px;
		padding: 0;

		@media (--w768) {
			width: 66.66666666666666666%;
		}	

		#object_map {
			width: 100%;
			height: 100%;

				.gm-style-cc {
					display: none !important;
				}

				.gmnoprint  {
					display: none !important;
				}

				[href*='https://maps.google.com/'] {	
					display: none !important;
				}
		}
	}




	.row_type1 &.col1 {
		width: 100%;
		position: relative;
		background-color: transparent;

		@media (--w768) {
			width: 33.33333333333333333%;
		}
	
		h2, p, a, span {
			color: #272727;
		}
	}

	.row_type1 &.col2 {
		width: 100%;
		position: relative;
		background-color: $yellow;

		@media (--w768) {
			width: 33.33333333333333333%;
		}

		h2, p, a {
			color: #272727;
		}
	}

	.row_type1 &.col3 {
		width: 100%;
		position: relative;
		height: 340px;
		background: #da2338 url(../i/kirpich.jpg) top right no-repeat;

		@media (--w768) {
			width: 50%;
		}
		
	}

	.row_type1 &.col4 {
		width: 100%;
		position: relative;
		background-color: #83bae8;
		height: 340px;

		@media (--w768) {
			width: 33.33333333333333333%;
		}	
		
		.arr_link:before {
			background-image: svg("arr", "[stroke]: #fff");
		}
	}

	.row_type1 &.col5 {
		width: 100%;
		position: relative;
		background-color: #40635e;
		height: 340px;
		padding: 0;
		background: url(../i/mesto.jpg) 0 0 no-repeat;
		background-size: cover;

		@media (--w768) {
			width: 33.33333333333333333%;
			position: absolute;
			top: 0;
			right: 0;
		}

		img {
			height: 100%;
			top: 0;
			left: 0;
		}
	}



	.row_type2 &.col1 {
		background-color: $yellow;
		height: 340px;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.33333333333333333%;
		}

		h2, p, a {
			color: #272727;
		}
	}

	.row_type2 &.col2 {
		
		background-color: transparent;
		height: 340px;
		padding: 50px 40px 40px;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 50%;
		}

		h2, p, a {
			color: #272727;
			width: 100%;
		}
	}



	.row_type3 &.col1 {
		height: 340px;
		background: #da2338 url(../i/vid.jpg) top right no-repeat;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 50%;
		}

	}

	.row_type3 &.col2 {
		background-color: $yellow;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.33333333333333333%;
		}

		h2, p, a {
			color: #272727;
		}
	}

	.row_type3 &.col3 {
		background-color: #83bae8;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.33333333333333333%;
			margin-left: calc(50% - 33.3333333333333333333333333%)
		}
	}

	.row_type3 &.col4 {
		background-color: #272727;
		height: 340px;
		padding: 50px 40px 40px;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 50%;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		h2, p, a {
			width: 100%;
		}
	}



	.row_type4 &.col1 {
		background-color: transparent;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.33333333333333333%;
		}

		h2, p, a {
			width: 100%;
			color: #272727;
		}
	}

	.row_type4 &.col2 {
		background-color: $yellow;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.33333333333333333%;
		}

		h2, p, a {
			width: 100%;
			color: #272727;
		}
	}

	.row_type4 &.col3 {
		background-color: #40635e;
		height: 340px;
		background: url(../i/zona.jpg) 0 0 no-repeat;
		background-size: cover;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.33333333333333333%;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.row_type4 &.col4 {
		background-color: #da2338;
		height: 340px;
		background: #da2338 url(../i/vid.jpg) top right no-repeat;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 50%;
		}
	}

	.row_type4 &.col5 {
		background-color: #40635e;
		width: 100%;
		position: relative;

		@media (--w768) {
			margin-top: 170px;
			width: 50%;
		}
	}

	


	.row_type5 &.col1 {
		height: 340px;
		background-color: #7acec3;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.3333333333333333%;
		}

		h2, p, a, span {
			color: #272727;
		}

	}

	.row_type5 &.col2 {
		height: 340px;
		background-color: transparent;
		padding: 50px 40px 40px;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 50%;
		}

		h2, p, a {
			width: 100%;
			color: #272727;
		}

	}

	.row_type5 &.col3 {
		background-color: #40635e;
		width: 100%;
		position: relative;
		display: none;

		@media (--w768) {
			width: calc(50% - 33.3333333333333333%);
			display: inline-block;
		}
	}

	.row_type5 &.col4 {
		height: 340px;
		background: #40635e url(../i/vid.jpg) top right no-repeat;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 50%;
		}

	}

	.row_type5 &.col5 {
		background-color: $yellow;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.3333333333333333%;
		}
		h2, p, a {
			width: 100%;
			color: #272727;
		}
	}


	.row_type5 &.col6 {
		background-color: #83bae8;
		width: 100%;
		position: relative;

		@media (--w768) {
			width: 33.3333333333333333%;
			position: absolute;
			bottom: 0;
			right: calc(50% - 33.3333333333333333%);
		}

		.arr_link:before {
			background-image: svg("arr", "[stroke]: #fff");
		}
	}


}


.arr_link {
	position: relative;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: $narrow;
	font-weight: 300;
	color: #272727;
	margin-top: 15px;
	margin-bottom: 10px;
	display: block;
	

	&.white {
		color: #fff;
	}

	&:before {
		content: "";
		width: 19px;
		height: 18px;
		display: inline-block;
		margin-right: 10px;
		background-position: center left;
		background-repeat: no-repeat;
		background-image: svg("arr", "[stroke]: #ebb240");
	}
}


.big_slider_object {
	width: 100%;
	height: 800px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	.swiper-slide {
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
	}

	h1 {
		position: absolute;
		bottom: 0;
		left: 0;
		color: #fff;
		z-index: 100;
	}
}

.big_slider_object__prev,
.big_slider_object__next {
	display: none;

	@media (--w768) {
		display: block;
		z-index: 10000;
	}

}

.big_slider_object__prev {
	left: 200px;
	transition: all 0.4s;

	&.short {
		left: 45px;
	}
}

.big_slider_object__next {
	right: 20px;
}

.full_block--object {
	.container {
		max-width: 960px;
	} 
}

.full_block__header {
	margin-top: 30px;
	font-size: 50px;
	line-height: 50px;
	color: #fff;
	font-family: $custom;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 170px;	

	span {
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		font-weight: 400;
		display: block;
	}
}