/*
*	actions
*/
.actions {
	padding: 50px 0;

	h2 {
		@extend section_h2;

		a {
			display: block;
			color: #0679c1;
			font-size: 14px;
			line-height: 14px;
			text-transform: none;
			font-weight: normal;
			font-family: $mainfont;
			text-decoration: underline;
			text-shadow: none;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.action_grid {
	lost-center: 100%;
	lost-utility: clearfix;
}

.one_action {
	lost-column: 1/1;
	margin-bottom: 50px;
	
	@media (--w768) {
		lost-column: 1/3;
		margin-bottom: 0;
	}

	&__block {
		width: 180px;
		height: 240px;
		transform: skewY(-20deg);
		display: block;
		overflow: hidden;	
		border: 20px solid #e8e8e8;
		box-sizing: content-box;
		transition: all 0.3s;
		margin: 60px auto;
		backface-visibility: hidden;

		@media (--w768) {
			width: 150px;
			height: 200px;
		}
	}

	&:hover &__block{
		border: 20px solid yellow;
	}

	&__pic {
		transform: skewY(20deg);
		margin-top: -45px;
		display: block;	
		backface-visibility: hidden;
	}

	&__heading {
		font-size: 18px;
		line-height: 18px;
		color: #272727;
		text-transform: uppercase;
		display: block;
		text-shadow: 5px 12px 10px rgba(0,0,0,0.15);
		font-family: $custom;
		max-width: 220px;
		margin: 0 auto 10px;
	}

	&__text {
		font-size: 15px;
		line-height: 24px;
		color: #7f7f7f;
		max-width: 220px;
		margin: 0 auto;
	}
}