/*
*   header
*/
.header {
    height: 118px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .backcall_block {
        float: right;
        margin-top: 15px;
    }
}

/*
*   main menu
*/
.main_menu {

    a {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        color: rgba(29, 29, 27, 0.5);
        display: inline-block;
        font-weight: 300;
        font-family: $custom;
        margin-right: 30px;
        padding: 20px 15px;
        transition: all 0.3s;

        @media (--w1200) {
            margin-right: 50px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #1d1d1b;
        }

        &.active {
            color: #1d1d1b;
            border-bottom: 1px solid #1d1d1b;
        }
    }

    &.white {
        border-bottom: 1px solid #fff;

        a {
            color: #fff;
        }
    }
}

.header_corner_logo {
    width: 332px;
    height: 118px;
    background: url(../i/header_corner_logo.png)  no-repeat;
    float: left;
    margin-right: -60px;
}
