/*
*   apartment
*/
.apartment {
    padding: 30px 0;

    @media (--w768) {
        
        padding: 100px 0 30px;
    }

    .container {
        max-width: 790px
    }
}


.design_projects {
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 40px;
        color: #02263d;
        font-family: $custom;
        font-weight: 400;
    }

    h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 30px;
        color: #02263d;
        font-family: $custom;
        font-weight: 400;

        a {
            color: inherit;
        }
    }
}

.centered_block {
    text-align: center;


}

.download_plan {
    text-align: center;

    .one_document__icon {
        width: 85px;
        height: 55px;
        background: url(../i/new_pdf_icon.png) top right no-repeat;
        margin: 0 auto 10px;

        span {
            display: none;
        }
    }
   

    h3 {
        text-align: center;
        font-family: $custom;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 5px 12px 10px rgba(0,0,0,.15);
        font-size: 18px;
        line-height: 18px;
         margin-bottom: 40px;
        font-weight: 400;
    }
}

.useful_square {

    h3 {
        text-align: center;
        font-family: $custom;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 5px 12px 10px rgba(0,0,0,.15);
        font-size: 18px;
        line-height: 18px;
         margin-bottom: 40px;
        font-weight: 400;
    }

    .useful_square__grid > div {
        
        display: inline-block;
        text-align: center;
        width: 100%;

        @media (--w768) {
            width: 49%;
            margin: 30px 0;
            

            .advantags & {
                width: 33%;
            }
        }


    }
}

.advantags .useful_square > h3 {
    font-family: etelka,Arial,sans-serif;
    color: #202628;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;

    @media (--w768) {
        font-size: 32px;
        line-height: 40px;
    }


}


.apt__grid {
    lost-center: 100%;
}
.apt_pic {
    width: 100%;
    margin-bottom: 50px;
    /*padding-bottom: 90px;*/
    text-align: center;
    position: relative;
    min-height: 500px;
    height: 500px;
    background: #fff;
    font-size: 0;

    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        min-height: 100%;
        height: auto;
        width: 0;
    }

    @media (--w768) {
        lost-column: 3/5;
        margin-bottom: 0;
    }

    &.nopic {
        background: url(../i/nopic.png) center center no-repeat;
    }

    img {
        display: inline-block;
        max-height: 500px;
        vertical-align: middle;
    }

    .view_icon {
        position: absolute;
        bottom: 10px;
        left: 10px;

        span {
            display: block;
        }
    }
}

.apt_info {
    width: 100%;

     @media (--w768) {
        lost-column: 2/5;
    }
}

.apt_info__heading {
    color: #02263d;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    font-family: $custom;
    margin-bottom: 15px;
}

.apt_info__params {
    margin-bottom: 40px;

    li {
        width: 280px;
        display: block;
        margin-bottom: 7px;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 18px;
        font-family: $custom;
        color: #02263d;
    }

    span {
        width: 90px;
        float: right;
        text-transform: none;
        text-align: right;
    }
}

.apt_info__price {
    color: #02263d;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-family: $custom;
    margin-bottom: 15px;

    span {
        font-size: 24px;
        font-weight: bold; 
    }
}

.apt_info__liter {
    margin-bottom: 30px;

    .line {
        width: 120px;
        height: 2px;
        background-color: #02263d;
        margin: 8px 0;
        display: block;
    }
}



.apt_info__floor {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 16px;
    font-family: $custom;
    color: #02263d;
    vertical-align: bottom;

    span {
        font-size: 56px;
        line-height: 36px;
         vertical-align: bottom;
        display: inline-block;
    }
}
.apt_info__liternum {
    font-size: 16px;
    display: block;
    margin-bottom: 7px;
    text-transform: uppercase;
    line-height: 16px;
    font-family: $custom;
    color: #02263d;
    span {
        margin-left: 10px;
    }
}


.apartment_socblock {
    float: right;

    & > span {
        margin-bottom: 5px;
        margin-top: -5px;
        display: block;
        color: #c81fca;
    }
}