/*
*   managers
*/
.managers {
    padding: 50px 0;

    h2 {
        @extend section_h2;
    }
}

.swiper-managers {
    font-size: 0;
    height: 450px;
    overflow: hidden;
}

.one_manager {
    cursor: pointer;
    display:inline-block;
    width: 100%;
    margin-bottom: 100px;

    @media (--w768) {
        width: 33%;
    }

    @media (--w1200) {
        width: 20%;
    }

    
    &__block {
        width: 140px;
        transform:  scale(0.7);
        display: block;
        overflow: hidden;   
        box-sizing: content-box;
        transition: all 0.3s;
        margin: 0 auto;
        backface-visibility: hidden;
        transition: all 0.3s;
        opacity: 0.3; 

        .active & {
           /* box-shadow: 12px 12px 14px rgba(0,0,0,0.2);*/
            transform: scale(1);
            opacity: 1;
        }
    }

    &__pic {
        display: block; 
        backface-visibility: hidden;
    }

    &__text {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        font: $custom;
        color: #6c7476;
        margin-top: 20px;
        display: none;

        .active & {
            display: block;
        }
    }

    .backcall_block {
        display: none;
        margin: 50px auto 0;
    }

}

.active .backcall_block  {
    display: block;
}