/*
*   news
*/
.news {
    padding: 30px 0;

    @media (--w768) {
    	padding: 170px 0 50px;
    }
}

.news_tizer {
	width: 100%;
	margin: 0px auto 20px;
	position: relative;
	min-height: 290px;
	z-index: 1;


	@media (--w768) {
		width: 570px;
		padding-left: 40px;
		padding-top: 140px;
	}

	&:before {
		@extend skew_block;
		content: '';
		background-color: #dce1e0;
		top: 25px;
		left: 0;
	}

	h2 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 5px;
		color: #202628;
		font-family: $custom;
		text-transform: uppercase;
		padding-left: 20px;

		a {
			color: #202628;
		}

		@media (--w768) {
			padding-left: 0;
		}
	}

	&__date {
		color: #dce1e0;
		font-size: 32px;
		line-height: 32px;
		font-family: $custom;
		font-weight: bold;
		padding-top: 90px;
		padding-left: 10px;
		z-index: -1;
		display: block;

		@media (--w768) {
			height: 95px;
			position: absolute;
			top: 90px;
			left: 10px;
			padding-top: 0;
			padding-left: 0;
			font-size: 45px;
			line-height: 45px;
		}

		span {
			color: #fff;
			font-size: 110px;
			line-height: 115px;
			margin-right: 10px;
			height: 135px;
			vertical-align: top;
			letter-spacing: -7px;
		}
	}

	p {
		font-size: 13px;
		line-height: 20px;
		color: #343434;
		font-family: $custom;
		padding-left: 20px;

		@media (--w768) {
			padding-left: 0;
		}

		a {
			color: #e84c3d;
			display: inline-block;
			padding-left: 5px;
		}
	}

	
}

.action_tizer {
	width: 100%;
	min-height: 290px;
	margin: 0 auto 20px;
	position: relative;
	padding-top: 30px;
	
	@media (--w768) {
		width: 570px;
		padding-left: 165px;
		padding-top: 80px;
	}

	&__block {
		width: 143px;
		/*height: 240px;*/
		/*transform: skewY(-20deg);*/
		display: block;
		/*overflow: hidden;*/	
		box-sizing: content-box;
		transition: all 0.3s;
		backface-visibility: hidden;
		margin-bottom: 50px;

		@media (--w768) {
			position: absolute;
			top: 25px;
			left: 0;
			margin-bottom: 0;
		}
	}

	&__pic {
		/*transform: skewY(20deg);*/
		margin-top: -20px;
		display: block;	
		backface-visibility: hidden;
		
	}

	h2 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 5px;
		color: #202628;
		font-family: $custom;
		text-transform: uppercase;

		a {
			color: #202628;
		}
	}

	p {
		font-size: 13px;
		line-height: 20px;
		color: #343434;
		font-family: $custom;

		a {
			color: #e84c3d;
			display: inline-block;
			padding-left: 5px;
		}
	}

	
}

.one_news {
	lost-center: 100%;
	lost-utility: clearfix;
}

.breadcrumbs {
	margin-bottom: 30px;
	font-size: 0;

	.news & {
		width: 100%;
		
		@media (--w768) {
			lost-column: 7/12 2 20px no-flex;
			lost-move: 2/12;
		}
	}

	li {
		font-size: 12px;
		line-height: 12px;
		display: inline-block;
		color: #8d8d8d;
		text-transform: uppercase;
		font-family: $narrow;

		@media (--w768) {
			font-size: 14px;
			line-height: 14px;
		}

		a {
			color: #8d8d8d;
			text-decoration: underline;
			
			&:after {
				position: relative;
				content: "—";
				display: inline-block;
				margin: 0 5px;
			}

			&:hover {
				text-decoration: none;
			}

		}

		span {
			color: #1d1d1b;
		}
	}
}

.one_news_photogallery {
	lost-column: 12/12 2 20px no-flex;

	@media (--w768) {
		lost-column: 14/12 2 20px no-flex;
		lost-move: -1/12;
	}
}



.one_news_content {
	lost-column: 12/12 2 20px no-flex;
	min-height: 290px;
	margin: 0 auto 20px;
	position: relative;
	z-index: 1;

	@media (--w768) {
		lost-column: 7/12 2 20px no-flex;
		lost-move: 3/12;
	}

	&:first-child:before {
		@extend skew_block;
		content: '';
		background-color: #eaeceb;
		top: 5px;
		left: -20px;
	}

	&__date {
		font-size: 28px;
		line-height: 28px;
		display: block;
		margin-bottom: 10px;
		color: #b7b6b4;
		font-weight: bold;
		font-family: $custom;
		text-transform: uppercase;
	}

	h2 {
		font-size: 32px;
		line-height: 40px;
		display: block;
		margin-bottom: 15px;
		color: #202628;
		font-weight: 300;
		font-family: $custom;
		text-transform: uppercase;
	}

	h3 {
		font-size: 18px;
		line-height: 20px;
		display: block;
		margin-bottom: 25px;
		color: #202628;
		font-family: $custom;
		font-weight: 400;
		text-transform: uppercase;
	}

	p {
		color: #343434;
		font-size: 16px;
		line-height: 24px;
		display: block;
		margin-bottom: 15px;
		font-family: $mainfont;
		font-weight: 300;
	}
}

	.fotorama {
		margin: 30px 0;
		max-width: 100%;
	}


.action_share {
	margin-bottom: 20px;
	margin-top: 10px;

	.ya-share2 {
		display: inline-block;
	}

	& > span {
        margin-top: 4px;
        display: inline-block;
        color: #c81fca;
    }
}