/*
*	company_people
*/
.company_people {
	padding: 170px 0 50px;
	
	hr {
		border:0;
		border-top: 1px solid #d0d0d0;
		margin: 50px 0;
	}

	.mail {
		a {
			color: #003da7;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.one_company_people {
	lost-center: 700px;
	lost-utility: clearfix;
	margin-bottom: 80px;


	&__photo {
		lost-column: 8/8 1 20px no-flex;
		margin-bottom: -40px;

		@media (--w768) {
			lost-column: 3/8 2 20px no-flex;
			margin-bottom: 0;
		}
	}

	&__info {
		lost-column: 8/8 1 20px no-flex;

		@media (--w768) {
			lost-column: 5/8 2 20px no-flex;
		}

		.name {
			font-family: $narrow;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 24px;
			margin-top: 70px;

			span {
				display: block;
			}
		}

	}

	&__block {
		width: 180px;
		height: 300px;
		transform: skewY(-20deg) translate3d(0);
		display: block;
		overflow: hidden;	
		box-sizing: content-box;
		transition: all 0.3s;
		margin: 20px 0;
		backface-visibility: hidden;
		




		@media (--w768) {
			margin: 35px auto;
		}
	}

	&__pic {
		transform: skewY(20deg) translate3d(0);
		margin-top: -60px;
		display: block;	
		backface-visibility: hidden;
		position: relative;

		&:before {
			position: absolute; /* Абсолютное позиционирование */
			left: 20px; bottom: -20px; /* Положение треугольника */
			border: 20px solid transparent;	border-left: 20px solid green; border-top: 20px solid green;
		}
	}

}

.company_address {
	lost-center: 645px;
	lost-utility: clearfix;
	margin-bottom: 30px;

	@media (--w768) {
		margin-bottom: 60px;
	}

	@media (--w980) {
		margin-bottom: 80px;
	}

	&__pic {
		lost-column: 8/8 1 20px no-flex;
		margin-bottom: 30px;

		@media (--w768) {
			lost-column: 3/8 2 20px no-flex;
			margin-bottom: 0;
		}
	}

	&__info {
		lost-column: 8/8 1 20px no-flex;
		
		@media (--w768) {
			lost-column: 5/8 2 20px no-flex;

		}

		.company_name {
			font-family: $custom;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 24px;
		}

		.company_name_label {
			display: block;
			color: #333;
			font-size: 14px;
			line-height: 21px;
			font-weight: 300;
			font-family: $custom;
			margin-bottom: 15px;
			position: relative;
		}
	}

	.soc_block {
		margin-top: 40px;
	}
}


.company_offices {
	lost-center: 830px;
	lost-utility: clearfix;
	margin-bottom: 30px;

	@media (--w768) {
		margin-bottom: 60px;
	}

	@media (--w980) {
		margin-bottom: 80px;
	}

	.company_office  {
		lost-column: 10/10 1 20px no-flex;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (--w768) {
			lost-column: 5/10 2 20px no-flex;
			margin-bottom: 0;
		}

		.office_name {
			font-family: $custom;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 24px;
		}

		.office_label {
			display: block;
			color: #333;
			font-size: 14px;
			line-height: 21px;
			font-weight: 300;
			font-family: $custom;
			margin-bottom: 15px;
			position: relative;
		}
	}

	.soc_block {
		margin-top: 40px;
	}
}


#offices_map {
	width: 100%;
	height: 300px;

	@media (--w768) {
		height: 500px;
	}

	@media (--w980) {
		height: 700px;
	}
}