/*
*   footer
*/
.footer {
    padding: 50px 0;
    text-align: center;


    .main_menu {
        text-align: center;
        margin-bottom: 30px;
        
        @media (--w768) {
            margin-bottom: 50px;
        }

        a {
            padding: 20px 30px;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 100%;

            @media (--w768) {
                width: auto;
                margin-bottom: 0;
            }

            @media (--w980) {
                padding: 20px 40px;
                margin-right: 20px;
                
            }

            &.active {
                border: 1px solid #000;
            }
        }
    }

    .soc_block__text {
        text-align: center;
        font-size: 17px;
        line-height: 17px;
        text-transform: uppercase;
        font-family: $custom;
        margin: 50px 0;
    }
}
