/*
*   dinamic
*/
.dinamic {
    padding: 100px 0 0 25px;

    @media (--w768) {
        padding: 50px 0;
    }

    .container {
        max-width: 800px;
    }

    h2 {
        font-family: $custom;
        color: #202628;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
    }

    h3 {
        font-family: $custom;
        color: #02263d;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        transform: translateY(-10px);
        position: relative;

        &:before {
            width: 30px;
            height: 1px;
            background-color: #d0d0d0;
            display: block;
            content: "";
            position: absolute;
            left: -40px;
            top: 10px;
        }
    }
}

.dinamic__line {
    position: relative;

    &:before {
        width: 1px;
        height: 100%;
        background-color: #d0d0d0;
        display: block;
        content: "";
        position: absolute;
        left: -40px;
        top: 0;
    }

    hr {
        margin: 40px 0 40px -40px;
    }
}

.dinamic__grid {
    lost-center: 100%;
    lost-utility: clearfix;
    margin-bottom: 65px;
    font-size: 0;

    &:last-child {
        margin-bottom: 0;
    }

    @media (--w768) {
        lost-center: 800px;
    }
}

.dinamic__item {
    width: 49%;
    margin-bottom: 1px;
    margin-right: 1px;
    display: inline-block;

    @media (--w768) {
        lost-column: 1/4 4 1px no-flex;
        margin-bottom: 1px;
    }

    @media (--w980) {
        lost-column: 1/5 5 1px no-flex;
    }

    img {
        max-width: 100%;
    }
}

.dinamic_popup .mfp-content {
    /*vertical-align: top;
    margin-top: 200px;*/
    vertical-align: middle;
}