/*
*   advantages
*/
.about {
    padding: 50px 0 100px;
}

.big_yelow_nums {
    margin: 30px 0 80px;

    @media (--w768) {
        margin: 80px 0;
    }
}

.one_byn {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto 70px;
    padding: 30px 0 0 50px;
   

    @media (--w768) {
        width: 600px;
        height: 200px;
        margin: 0 auto 150px;
        padding: 30px 100px 0 50px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    span {
        font-size: 235px;
        line-height: 240px;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
        font-family: $custom;
        color: $yellow;
        letter-spacing: -20px;
        z-index: -1;

         @media (--w768) {
            font-size: 285px;
         }
    }

    h2 {
        font-size: 32px;
        height: 32px;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #202628;
    }

    p {
        font-size: 19px;
        color: #767c7e;
        font-family: $custom;
        font-weight: 300;

         @media (--w768) {
            font-size: 21px;
            height: 37px;
         }
    }
}