/*
*   header
*/
.header {
    height: 80px;
    width: 100%;
    z-index: 10000000 !important;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s;

    &:before {
        content: "";
        position: fixed;
        top: -108px;
        left: -50px;
        background-color: #272727;
        width: 350px;
        height: 150px;
        z-index: -1;
        transform: rotate(-20deg);
        box-shadow: 0px 0px 30px rgba(0,0,0, 0.5);
        opacity: 1;
        transition: all 0.4s;
        display: none;

        @media (--w768) {
            display: block;
        }
    }

    &.is-fixed:before {
        opacity: 0;
    }

    &.is-fixed {
        background-color: rgba(0, 0, 0, 0.5);
        height: 53px;
        z-index: 1000;
    }

    &.dark {
        background-color: rgba(0, 0, 0, 0.5);
        height: 53px;
        z-index: 1000;
    }

    .backcall_block {
        float: right;
        margin-top: 15px;
        transition: all 0.4s;
    }
    
    &.is-fixed .backcall_block  {
        margin-top: 0;
    }

}

/*
*   main menu
*/
.main_menu {
    display: none;

    @media (--w768) {
        display: block;
    }

    a {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        color: rgba(29, 29, 27, 0.5);
        display: inline-block;
        font-weight: 300;
        font-family: $custom;
        margin-right: 30px;
        padding: 20px 15px;
        transition: all 0.3s;
        position: relative;
        transform-origin: 50% 50%;

        .is-fixed & {
            margin-top: 5px;
            padding: 10px 15px;
        }

        .header--mainpage & {
            color: #fff;
        }

        @media (--w1200) {
            margin-right: 50px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #1d1d1b;
        }

        .header--mainpage &:hover {
            color: #fff;
        }

        &.active {
            color: #1d1d1b;
            border-bottom: 1px solid #1d1d1b;
        }

        .header--mainpage &.active {
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

        &:after {
            height: 1px;
            width: 0;
            border-bottom: 1px solid #1d1d1b;
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            transition: all 0.25s;
        }

        .header--mainpage &:after, .is-fixed &:after {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

        &:hover:after {
            width: 100%;
        }

        &.active:hover:after {
            border-bottom: 0;
        }

    
    }

    &.white {
        border-bottom: 1px solid #fff;

        a {
            color: #fff;
        }
    }

    &.is-opened {
        display: block;
        background-color: rgba(255,255,255,0.9);
        box-shadow: 0px 10px 20px rgba(0,0,0,0.2);

        a {
            width: 100%;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            color: #272727;

            &.active {
                color: #272727;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .is-fixed & {
        a {
            color: #fff;

            &.active {
                color: #fff;
                border-bottom: 1px solid rgba(255,255,255,0.6);
            }
        }
    }
}

.header_corner_logo {
    width: 160px;
    height: 108px;
    background: url(../i/header_corner_logo.svg)  no-repeat;
    float: left;
    background-size: 100%;
    transition: all 0.4s;
    margin-left: 10px;

    @media (--w768) {
        margin-left: 25px;
        margin-right: 40px;
        width: 185px;
        height: 108px;
    }

    .is-fixed & {
        background-size: 80%;
    }
}

.mobile_menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    letter-spacing: 3px;

    @media (--w768) {
        display: none;
    }
}