/*
*   header
*/
.header {
    height: 118px;
    width: 100%;
    z-index: 10000000 !important;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s;

    &:before {
        content: "";
        position: fixed;
        top: -108px;
        left: -50px;
        background-color: #272727;
        width: 350px;
        height: 150px;
        z-index: -1;
        transform: rotate(-20deg);
        box-shadow: 0px 0px 30px rgba(0,0,0, 0.5);
        opacity: 1;
        transition: all 0.4s;
        display: none;

        @media (--w768) {
            display: block;
        }
    }

    &.is-fixed:before {
        opacity: 0;
    }

    &.is-fixed {
        background-color: rgba(99, 99, 99, 0.75);
        height: 53px;
    }

    .backcall_block {
        float: right;
        margin-top: 15px;
        transition: all 0.4s;
    }
    
    &.is-fixed .backcall_block  {
        margin-top: 0;
    }

}

/*
*   main menu
*/
.main_menu {
    display: none;

    @media (--w768) {
        display: block;
    }

    &.is-opened {
        display: block;
        

        a {
            width: 100%;
            border-bottom: 1px solid rgba(0,0,0,0.2);

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    a {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        color: rgba(29, 29, 27, 0.5);
        display: inline-block;
        font-weight: 300;
        font-family: $custom;
        margin-right: 30px;
        padding: 20px 15px;
        transition: all 0.3s;

        .is-fixed & {
            margin-top: 5px;
            padding: 10px 15px;
        }

        .header--mainpage & {
            color: #fff;
        }

        @media (--w1200) {
            margin-right: 50px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #1d1d1b;
        }

        .header--mainpage &:hover {
            color: #fff;
        }

        &.active {
            color: #1d1d1b;
            border-bottom: 1px solid #1d1d1b;
        }

        .header--mainpage &.active {
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    &.white {
        border-bottom: 1px solid #fff;

        a {
            color: #fff;
        }
    }
}

.header_corner_logo {
    width: 160px;
    height: 108px;
    background: url(../i/header_corner_logo.png)  no-repeat;
    float: left;
    background-size: 100%;
    transition: all 0.4s;
    margin-left: 10px;

    @media (--w768) {
        margin-left: 25px;
        margin-right: 40px;
        width: 185px;
        height: 108px;
    }

    .is-fixed & {
        background-size: 80%;
    }
}

.mobile_menu {
    display: block;
    float: right;
    margin: 10px 10px 0 0;
    border: 1px solid #fff;
    padding: 15px 23px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;

    @media (--w768) {
        display: none;
    }
}