doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        nav.secondary_menu
            a(href="#") «Неометрия»
            a(href="#") «Неометрия»
            a(href="#").active «Неометрия»
            a(href="#") «Неометрия»
            a(href="#") «Неометрия»
            a(href="#") «Неометрия»


        include blocks/block_alone_text.jade

        section.big_yelow_nums
            .container

                .one_byn
                    span 01
                    h2 Технологии
                    p В объектах «Неометрии» всегда присутствуют конструктивные особенности, о которых можно с гордостью говорить.

                .one_byn
                    span 02
                    h2 Технологии
                    p В объектах «Неометрии» всегда присутствуют конструктивные особенности, о которых можно с гордостью говорить.

                .one_byn
                    span 03
                    h2 Технологии
                    p В объектах «Неометрии» всегда присутствуют конструктивные особенности, о которых можно с гордостью говорить.



        include blocks/block_alone_text.jade
                
        include blocks/section_object_tizers_small.jade

        include blocks/block_alone_text.jade

        .container
            .partners       
                .partners_grid
                    .partners_col
                        .partner
                            img(src="i/parnter_sber.png", class="partner__pic")
                            span Сбербанк

                    .partners_col
                        .partner
                            img(src="i/parnter_sber.png", class="partner__pic")
                            span Сбербанк

                    .partners_col
                        .partner
                            img(src="i/parnter_sber.png", class="partner__pic")
                            span Сбербанк
                            
                    .partners_col
                        .partner
                            img(src="i/parnter_sber.png", class="partner__pic")
                            span Сбербанк

        include blocks/block_alone_text.jade

        include parts/_footer_default.jade

        include parts/_scripts.jade


