doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        include blocks/menu_object.jade

        include blocks/section_object_tizers_large.jade

        // advantags
        section.advantags
            .container

                .text_block    
                    h3.text_block__header ЖИЛОЙ КОМПЛЕКС «ЕЖИ»
                    p.text_block__text Думать о покупке новой квартиры — это всегда волнующий, но приятный процесс. Чтобы перестать волноваться, а получать от выбора только удовольствие, надо быть уверенным, где купить квартиру в Краснодаре. Такую уверенность даёт жилой экокомплекс «Ежи».

                .advantages_icons
                    h3 Преимущества
                    .advantages_icons__grid

                        .advantages_icon
                            .advantages_icon__pic.type1
                            span 
                                | Дом посреди
                                br
                                | парка

                        .advantages_icon
                            .advantages_icon__pic.type2
                            span 
                                | охраняемая
                                br
                                | территория

                        .advantages_icon
                            .advantages_icon__pic.type3
                            span 
                                | просторные

                                br
                                | планировки

                        .advantages_icon
                            .advantages_icon__pic.type4
                            span 
                                | подземная 
                                br
                                | парковка

                .text_block    
                    h3.text_block__header ЭКОЛОГИЯ
                    p.text_block__text Живя буквально на природе, вы не останетесь вдали от цивилизации. Рядом с жилым экокомплексом «Ежи» у вас есть выбор во всём. Две заправки — Лукойл и Газпром, два крупных банка — Кубань Кредит и Сбербанк, россыпь продуктовых магазинов, четыре кафе и даже продуктовый рынок. Выбор есть и у ваших детей — два детских сада и две школы. Только гостиница поблизости одна. Но зачем она вам, когда вы живёте в ЖК «Ежи».

                img(src="i/rezidencia.jpg", class="content_single_pic")

                .text_block    
                    h3.text_block__header ИНФРАСТРУКТУРА
                    p.text_block__text Живя буквально на природе, вы не останетесь вдали от цивилизации. Рядом с жилым экокомплексом «Ежи» у вас есть выбор во всём. Две заправки — Лукойл и Газпром, два крупных банка — Кубань Кредит и Сбербанк, россыпь продуктовых магазинов, четыре кафе и даже продуктовый рынок. Выбор есть и у ваших детей — два детских сада и две школы. Только гостиница поблизости одна. Но зачем она вам, когда вы живёте в ЖК «Ежи».


                .text_block    
                    h3.text_block__header Место
                    p.text_block__text Живя буквально на природе, вы не останетесь вдали от цивилизации. Рядом с жилым экокомплексом «Ежи» у вас есть выбор во всём. Две заправки — Лукойл и Газпром, два крупных банка — Кубань Кредит и Сбербанк, россыпь продуктовых магазинов, четыре кафе и даже продуктовый рынок. Выбор есть и у ваших детей — два детских сада и две школы. Только гостиница поблизости одна. Но зачем она вам, когда вы живёте в ЖК «Ежи».



                .useful_square

                    h3 Дополнительные возможности


                    .useful_square__grid

                        .useful_square__left
                            .pink_round_block  
                                h3 Собственное 
                                    br
                                    | кладовое помещение литер А

                                a(href="i/vid.jpg").js-open-apartment-details
                                    span(class="pink_icon i-plan")
                                    span(class="pink_icon__link") Посмотреть план

                        .useful_square__left
                            .pink_round_block  
                                h3 Собственное 
                                    br
                                    | кладовое помещение литер Б

                                a(href="i/vid.jpg").js-open-apartment-details
                                    span(class="pink_icon i-plan")
                                    span(class="pink_icon__link") Посмотреть план

                        .useful_square__right
                            .pink_round_block  
                                h3 Место 
                                    br
                                    | на подземной парковке

                                a(href="i/vid.jpg").js-open-apartment-details 
                                    span(class="pink_icon i-parking")
                                    span(class="pink_icon__link") Посмотреть план

                .pink_round_block  
                    h3 Динамика строительства

                    a(href="#") 
                        span(class="pink_icon din")
                        span(class="pink_icon__link") Посмотреть галерею фотографий


                


        include blocks/section_managers.jade

        include parts/_footer_default.jade

        include parts/_scripts.jade

