doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        include blocks/menu_object.jade

        // контакты
        include blocks/section_company_people.jade

        // тизеры объектов
        include blocks/section_object_tizers_small.jade
        include blocks/section_object_tizers_medium.jade
        include blocks/section_object_tizers_large.jade

        // главная
        include blocks/section_action.jade

        // выберите менеджера
        include blocks/section_managers.jade

        include blocks/block_partners.jade

        .text_block    
            h3.text_block__header Место
            p.text_block__text Живя буквально на природе, вы не останетесь вдали от цивилизации. Рядом с жилым экокомплексом «Ежи» у вас есть выбор во всём. Две заправки — Лукойл и Газпром, два крупных банка — Кубань Кредит и Сбербанк, россыпь продуктовых магазинов, четыре кафе и даже продуктовый рынок. Выбор есть и у ваших детей — два детских сада и две школы. Только гостиница поблизости одна. Но зачем она вам, когда вы живёте в ЖК «Ежи».


        include parts/_footer_default.jade

        include parts/_scripts.jade


