doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        include blocks/menu_object.jade

        // conditions
        section.conditions
            .container

                .text_block    
                    h3.text_block__header Ипотека на покупку квартиры в жилом КОМПЛЕКСе «ЕЖИ»
                    p.text_block__text Думать о покупке новой квартиры — это всегда волнующий, но приятный процесс. Чтобы перестать волноваться, а получать от выбора только удовольствие, надо быть уверенным, где купить квартиру в Краснодаре. Такую уверенность даёт жилой экокомплекс «Ежи».


                .partners
                    h3 Партнёры 
                    .partners_grid
                        .partners_col
                            .partner
                                img(src="i/parnter_sber.png", class="partner__pic")
                                span Сбербанк

                        .partners_col
                            .partner
                                img(src="i/parnter_sber.png", class="partner__pic")
                                span Сбербанк

                        .partners_col
                            .partner
                                img(src="i/parnter_sber.png", class="partner__pic")
                                span Сбербанк
                                

                    a(href="#").btn.green Рассчитать ипотеку
                    a(href="#").ask_manager Задать вопрос менеджеру 

                hr

                include blocks/section_object_tizers_large.jade

                hr

                .text_block    
                    h3.text_block__header Рассрочка
                    p.text_block__text Живя буквально на природе, вы не останетесь вдали от цивилизации. Рядом с жилым экокомплексом «Ежи» у вас есть выбор во всём. Две заправки — Лукойл и Газпром, два крупных банка — Кубань Кредит и Сбербанк, россыпь продуктовых магазинов, четыре кафе и даже продуктовый рынок. Выбор есть и у ваших детей — два детских сада и две школы. Только гостиница поблизости одна. Но зачем она вам, когда вы живёте в ЖК «Ежи».

                include blocks/section_action.jade

                hr            

                .pink_round_block  
                    h3 подобрать квартиру в жк «ЕЖИ»

                    a(href="#") 
                        span(class="pink_icon search")
                        span(class="pink_icon__link") Выбор квартиры


        include blocks/section_managers.jade

        include parts/_footer_default.jade

        include parts/_scripts.jade

