doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        include blocks/section_object_menu.jade

        include blocks/section_object_tizers_large.jade


        section.dinamic 
            .container

                h2 
                    | Динамика строительства 
                    br
                    | ЖИЛОго КОМПЛЕКСа «ЕЖИ»

                h3 Август 2015

                .dinamic__grid

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")


                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")


                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                h3 Август 2015

                .dinamic__grid

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")


                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")


                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")

                    .dinamic__item
                        a(href="#")   
                            img(src="i/content_single_pic.jpg")




        .pink_round_block  
            h3 Правовая информация

            a(href="#") 
                span(class="pink_icon docs")
                span(class="pink_icon__link") Посмотреть документы


        include blocks/section_managers.jade

        include parts/_footer_default.jade

        include parts/_scripts.jade

