doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        include blocks/menu_object.jade

        include blocks/section_object_tizers_large.jade

        // documents
        section.documents
            .container

                .text_block    
                    h3.text_block__header разрешающие документы на строительство ЖИЛОго КОМПЛЕКСа «ЕЖИ»
                    p.text_block__text Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!

                .documents_grid

                    .documents_grid__item
                        .one_document
                            a(href="#").one_document__icon
                                span .pdf
                            a(href="#").one_document__caption Разрешение на строительство
                            span.one_document__size (4 Mb)

                    .documents_grid__item
                        .one_document
                            a(href="#").one_document__icon
                                span .pdf
                            a(href="#").one_document__caption Разрешение на строительство
                            span.one_document__size (4 Mb)

                    .documents_grid__item
                        .one_document
                            a(href="#").one_document__icon
                                span .pdf
                            a(href="#").one_document__caption Разрешение на строительство
                            span.one_document__size (4 Mb)

                    .documents_grid__item
                        .one_document
                            a(href="#").one_document__icon
                                span .pdf
                            a(href="#").one_document__caption Разрешение на строительство
                            span.one_document__size (4 Mb)

                    .documents_grid__item
                        .one_document
                            a(href="#").one_document__icon
                                span .pdf
                            a(href="#").one_document__caption Разрешение на строительство
                            span.one_document__size (4 Mb)

                    .documents_grid__item
                        .one_document
                            a(href="#").one_document__icon
                                span .pdf
                            a(href="#").one_document__caption Разрешение на строительство
                            span.one_document__size (4 Mb)

                    .documents_grid__item
                        .one_document
                            a(href="#").one_document__icon
                                span .pdf
                            a(href="#").one_document__caption Разрешение на строительство
                            span.one_document__size (4 Mb)

                    .documents_grid__item
                        .one_document
                            a(href="#").one_document__icon
                                span .pdf
                            a(href="#").one_document__caption Разрешение на строительство
                            span.one_document__size (4 Mb)


        include blocks/section_managers.jade

        include parts/_footer_default.jade

        include parts/_scripts.jade

