doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        section.test
            .container

                ul(style="padding-top: 200px; font-size: 16px;")


                    p Тестируем новые попапы для Синемы
                    br
                    br

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_cinema1_fl1.html") = object_liter_cinema1_fl1.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_cinema1_fl23.html") = object_liter_cinema1_fl23.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_cinema1_fl418.html") = object_liter_cinema1_fl418.html

                    br

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_cinema2_fl1.html") = object_liter_cinema2_fl1.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_cinema2_fl23.html") = object_liter_cinema2_fl23.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_cinema2_fl418.html") = object_liter_cinema2_fl418.html

                    br 
                    br 
                    br 


                    p Тестируем новые попапы для Ежей
                    br
                    br

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_eji1_fl1.html") = object_liter_eji1_fl1.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_eji1_fl23.html") = object_liter_eji1_fl23.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_eji1_fl417.html") = object_liter_eji1_fl417.html

                    br

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_eji2_fl1.html") = object_liter_eji2_fl1.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_eji2_fl23.html") = object_liter_eji2_fl23.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_eji2_fl417.html") = object_liter_eji2_fl417.html

                    br 
                    br 
                    br 


                    li(style="margin-bottom: 10px; display: block")
                        a(href="blocks.html") все блоки (техническая страница)      
                    li(style="margin-bottom: 10px; display: block")
                        a(href="contacts.html") = contacts.html 
                    li(style="margin-bottom: 10px; display: block")
                        a(href="objects_all.html") = objects_all.html 
                    li(style="margin-bottom: 10px; display: block")
                        a(href="news.html") = news.html 
                    li(style="margin-bottom: 10px; display: block")
                        a(href="news_one.html") = news_one.html 
                    li(style="margin-bottom: 10px; display: block")
                        a(href="about.html") = about.html 
                    li(style="margin-bottom: 10px; display: block")
                        a(href="documents.html") = documents.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href="dinamic.html") = dinamic.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href="saled.html") = saled.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href="advantages.html") = advantages.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href="conditions.html") = conditions.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href="main.html") = main.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="search_results.html") = search_results.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href="apartment.html") = apartment.html

                    br

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_one.html") = object_one.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_one_eji.html") = object_one_eji.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href=" object_one_rezid.html") = object_one_rezid.html                
                    
                    br

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_map_eji.html") = object_map_eji.html
                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_map_cinema.html") = object_map_cinema.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_map_rezid.html") = object_map_rezid.html

                    br

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_cinema.html") = object_liter_cinema.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_eji.html") = object_liter_eji.html

                    li(style="margin-bottom: 10px; display: block")
                        a(href="object_liter_rezid.html") = object_liter_rezid.html

                    br
                    br
                    br 


                    p 
                        strong GULP CLEAN НЕ ДЕЛАТЬ    




                    


        include parts/_footer_default.jade

        include parts/_scripts.jade


