doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        include blocks/section_managers.jade

        include blocks/section_company_people.jade

        include blocks/section_object_tizers_small.jade

        include blocks/section_action.jade

        include parts/_scripts.jade
