doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        section.test
            .container

                ul(style="")
                    li
                        a(href="contacts.html") ++ contacts.html 
                    li
                        a(href="objects_all.html") ++ objects_all.html
                    li
                        a(href="news.html") ++ news.html (меню?)
                    li
                        a(href="news_one.html") ++ news_one.html (меню?)
                    li
                        a(href="about.html") ++ about.html  (меню?)
                    li
                        a(href="documents.html") ++ documents.html (меню?)
                    li
                        a(href="dinamic.html") ++ dinamic.html
                    li
                        a(href="saled.html") ++ saled.html
                    li
                        a(href="advantages.html") ++ advantages.html (доп возможности, динамика)
                    li
                        a(href="conditions.html") ++ conditions.html
                    li
                        a(href="main.html") main.html
                    li
                        a(href="blocks.html") все блоки (техническая страница)                   
                    li
                        a(href="object_one.html") object_one.html

                    li
                        a(href="object_liter.html") object_liter.html



        include parts/_footer_default.jade

        include parts/_scripts.jade


