doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        section.test
            .container

                ul(style="margin: 200px")
                    li
                        a(href="blocks.html") blocks.html
                    li
                        a(href="contacts.html") contacts.html +
                    li
                        a(href="objects_all.html") objects_all.html +
                    li
                        a(href="documents.html") documents.html (спозиционировать меню)
                    li
                        a(href="advantages.html") advantages.html (in progress, доп возможности, динамика)
                    li
                        a(href="saled.html") saled.html
                    li
                        a(href="conditions.html") conditions.html

                    li
                        a(href="dinamic.html") dinamic.html (боковая линия)




        include parts/_footer_default.jade

        include parts/_scripts.jade


