doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        section.test
            .container

                ul(style="padding-top: 200px")
                    li
                        a(href="contacts.html") ++ contacts.html 
                    li
                        a(href="objects_all.html") ++ objects_all.html
                    li
                        a(href="news.html") ++ news.html (меню?)
                    li
                        a(href="news_one.html") ++ news_one.html (меню?)
                    li
                        a(href="about.html") ++ about.html  (меню?)
                    li
                        a(href="documents.html") ++ documents.html (меню?)
                    li
                        a(href="dinamic.html") ++ dinamic.html
                    li
                        a(href="saled.html") ++ saled.html
                    li
                        a(href="advantages.html") ++ advantages.html (доп возможности, динамика)
                    li
                        a(href="conditions.html") ++ conditions.html
                    li
                        a(href="main.html") ++ main.html (блок с событиями)
                    li
                        a(href="blocks.html") все блоки (техническая страница)                   
                    li
                        a(href="object_one.html") object_one.html

                    li
                        a(href="object_liter.html") object_liter.html
                    br
                    li new

                    li
                        a(href="search_results.html") search_results.html

                    li
                        a(href="apartment.html") apartment.html

                    li
                        a(href="object_map_eji.html") object_map_eji.html

                    li
                        a(href="object_map_cinema.html") object_map_cinema.html

                    br 
                    p Не потерять при clean:
                    p -
                        strong ВООБЩЕ ЛУЧШЕ CLEAN НЕ ДЕЛАТЬ    
                    p - скрипты для карты
                    p - видео 
                                   
                    br 
                    p TODO
                    p - блок с событиями на главной
                    p - мобильные версиии всех страниц (доделать, проверить)
                    p - попап с увеличенной картинкой в Динамике
                    p - паралакс на всех страницах: футер и центр страницы
                    p - перемещение линии поховерк в меню
                    p - кен бёрст на странице объекта
                    p - попапы по перезвонить, заказать звонок
                    p - Залипающее меню - в ff на маке - не видно (проверить)
                    p - починить двойной клик на литере на одном этаже
                    p - рыбные картинки литеров               
                    p - В попапа (увеличить!) на литере Скролье https://github.com/artpolikarpov/scrollyeah
                    p - s попапе позиционирование площади
                    p - первый кадр из видео на постер     

                    br 
                    p Андрею
                    p - выяснить что делать с маркерами карт

                    br 
                    p Витя
                    p - уточнить форму в контактах по кнопке рядом с людьми



        include parts/_footer_default.jade

        include parts/_scripts.jade


