doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        // header
        section.header.js-sticky-header.header--mainpage

            a(href="/")
                .header_corner_logo

            include blocks/block_back_call.jade

            nav.main_menu
                a(href="#").active Обьекты
                a(href="#") О компании
                a(href="#") События
                a(href="#") Контакты

            a(href="#" class="mobile_menu js-open-mobile-menu") Меню

        section.full_block.full_block--mainpage

            video(autoplay muted loop preload="auto").bg_video
                source(src="i/neo.webm" type="video/webm")
                source(src="i/neo.mp4" type="video/mp4")

            .pattern

            .container

                .search_form__grid

                    .search_form__item
                        .search_form__logo.eji_logo
                        .search_form__block
                            h2 Цена
                            .range-slider
                                input(type="text" class="js-price-slider" value="")
                            h2 Площадь
                            .range-slider
                                input(type="text" class="js-square-slider" value="")
                            h2 Комнат
                            .range-slider.floor
                                input(type="text" class="js-floor-slider" value="")

                        a(href="#").btn.white Подобрать
                        a(href="#").location_link местоположение

                    .search_form__item
                        .search_form__logo.cinema_logo
                        .search_form__block
                            h2 Цена
                            .range-slider
                                input(type="text" class="js-price-slider" value="")
                            h2 Площадь
                            .range-slider
                                input(type="text" class="js-square-slider" value="")
                            h2 Комнат
                            .range-slider.floor
                                input(type="text" class="js-floor-slider" value="")

                        a(href="#").btn.white Подобрать
                        a(href="#").location_link местоположение

                    .search_form__item
                        .search_form__logo.cinema_logo
                        .search_form__block
                            h2 Цена
                            .range-slider
                                input(type="text" class="js-price-slider" value="")
                            h2 Площадь
                            .range-slider
                                input(type="text" class="js-square-slider" value="")
                            h2 Комнат
                            .range-slider.floor
                                input(type="text" class="js-floor-slider" value="")

                        a(href="#").btn.white Подобрать
                        a(href="#").location_link местоположение   

        // geometry
        section.geometry

            h2 Новое измерение 
                span комфорта

            h4 3 измерения
                br
                | неометрии

            .geometry_tizer
                h3 Строительная компания
                P Отправной точкой «Неометрии» является человек и комфортная среда его обитания. И эта среда  не ограничевается стенами и крышей.
                    br 
                    | Уникальность «Неометрии» и её строительных объектов базируется на трёх основных состовляющих: 
                    br
                    | Место, Технологии, Человек 


            .geometry_center

            .geometry_tip.tip1
                span Z
                h3 Технологии
                p В объектах «Неометрии» всегда присутствуют конструктивные особенности, о которых можно с гордостью говорить.

            .geometry_tip.tip2
                span Y
                h3 Человек
                p Комфорт человека — это аксиома. 
                    br
                    | Для «Неометрии» комфорт человека — больше, чем просто наборбытовых удобств. В это понятие входит весь комплекс ощущений человека.

            .geometry_tip.tip3
                span X
                h3 Место
                p Поиск уникальных мест для строительства имеет приоритетное значение. «Неометрии» — это всегда лучшие места в городе.



            .geo_top1
            .geo_top2

            .geo_bottom1
            .geo_bottom2






        include blocks/section_action.jade

        include blocks/section_object_tizers_small.jade

        include blocks/section_managers.jade

        include parts/_footer_default.jade

        include parts/_scripts.jade


