doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        include parts/_header.jade

        nav.secondary_menu
            a(href="#").active Все события
            a(href="#") Только новости
            a(href="#") Только хардкор

        section.news

            .container

                ul.breadcrumbs
                        li
                            a(href="#") События
                        li
                            a(href="#") Новости
                        li 
                            span 02.08.2015

                .one_news

                    .one_news_content                   
                        span.one_news_content__date 02.08.2015
                        h2 3D–панорамы рядом с ЖК «ежи»  и Жк «Синема»
                        h3 Новые техноглогии компании 
                            strong «Неометрия» 
                        p Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!
                        p Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!
                        p Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!
                        p Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!

                        .one_news_photogallery
                            .fotorama
                                img(src="http://s.fotorama.io/1.jpg", alt="")
                                img(src="http://s.fotorama.io/2.jpg", alt="")

                        p Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!

                        p Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!Хотите знать, какой вид будет открываться из окон вашей будущей квартиры? Окунитесь в виртуальный тур вокруг наших жилых комплексов!

                        a(href="#action_popup").btn.active.js-open-action-popup Участвовать в акции

                        .action_share.ya-share2(data-services="vkontakte,facebook,twitter")

                        a(href="#" class="round_arr_link") Назад к списку событий

        






        include parts/_footer_default.jade

        include parts/_scripts.jade


