doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        // header
        section.header.js-sticky-header.header--mainpage

            a(href="/")
                .header_corner_logo

            include blocks/block_back_call.jade

            nav.main_menu
                a(href="#").active Обьекты
                a(href="#") О компании
                a(href="#") События
                a(href="#") Контакты

            a(href="#" class="mobile_menu js-open-mobile-menu") Меню

        include blocks/menu_object.jade

        section.full_block.full_block--liter
            
            .liter_plan
                img(src="i/liter_1.jpg", alt="")
                .liter_plan__shadow

                #liter_eji_svg.svg_holst

                .floor_label
                    p этаж
                        span.floor_label_num 15

                a(href="#response_popup" class="popup_caller")

                a(href="#").btn.white.tour_btn Виртуальный тур
                a(href="#").btn.white.podbor_btn.js-open_podbor_block Подобрать по параметрам


            .liter_podbor_block
                form(action="").search_form__item

                    .search_form__block
                        
                        .range-slider
                            h2 Цена
                            input(type="text" class="js-price-slider" value="")
                        
                        .range-slider
                            h2 Площадь
                            input(type="text" class="js-square-slider" value="")
                        
                        .range-slider.floor
                            h2 Комнат
                            input(type="text" class="js-floor-slider" value="")

                    button(class="btn active") Подобрать


        #response_popup.neo_pupup.mfp-hide.zoom-anim-dialog
            h1 Этаж 15 литера A 

            .swiper-container.swiper-bigplan
                .swiper-wrapper
                    .swiper-slide(style="z-index: 1")
                        .plan.plan_floor15
                            img(src="i/plan15.jpg", alt="")
                            #eji_floor15_svg.svg_plan_holst
                    .swiper-slide
                
                .swiper-scrollbar.swiper-bigplan-scrollbar
                .fader_before
                .fader_after

   


        include parts/_scripts.jade

        <script src="js/svg_paths.js"></script>
        <script src="js/svg_init.js"></script>

