doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        // header
        section.header.js-sticky-header.header--mainpage

            a(href="/")
                .header_corner_logo

            include blocks/block_back_call.jade

            nav.main_menu
                a(href="#").active Обьекты
                a(href="#") О компании
                a(href="#") События
                a(href="#") Контакты

            a(href="#" class="mobile_menu js-open-mobile-menu") Меню

        include blocks/menu_object.jade

        section.full_block.full_block--liter
            
            .liter_plan
                img(src="i/liter_1.jpg", alt="")
                .liter_plan__shadow
                a(href="#").btn.white.tour_btn Виртуальный тур
                a(href="#").btn.white.podbor_btn Подобрать по параметрам


        include parts/_scripts.jade
