/*
*   all buttons
*/

.btn {
    @extend btn;

    &.arrow {
        padding-left: 40px;
        background: url(../i/green_arr.png) left 14px center no-repeat;
        transition: all 0.3s;

        &:hover {
            background-color: #fff30e;
            border-color: #fff30e;
            box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1)
        }
    }

    &.green {
        background-color: #7e943b;
        border: 0;
        color: #fff;
        font-size: 12px;
        padding-left: 25px;
        padding-right: 25px;
        text-shadow: 0px 1px 12px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1)
    }
}



/*
*   soc block
*/
.soc_block {

    a {
        width: 45px;
        height: 45px;
        display: inline-block; 
        margin-right: 1px;

        &:last-child {
            margin-right: 0;
        }
        
        &.fb {
            background: #3b5998 url(../i/fb.svg) center center no-repeat;
        }
        &.tw {
            background: #29c5f6 url(../i/tw.svg) center center no-repeat;
        }
        &.ig {
            background: #ca0707 url(../i/ig.svg) center center no-repeat;
        }
        &.vk {
            background: #006dc0 url(../i/vk.svg) center center no-repeat;
        }
    }
}

/*
*   backcall block
*/
.backcall_block {
    background-color: #f0e50d;
    width: 194px;
    height: 53px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    
    &__phone {
        font-weight: bold;
        font-size: 15px;
        line-height: 15px;
        margin: 5px 0 0;
        font-family: $custom;
        color: #26221f;
        display: block;
    }

    &__text {
        font-size: 11px;
        color: #b6ad16;
        display: block;
    }
}


/*
*   icon_text
*/
.icon_text {
        display: block;
        color: #333;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        font-family: $custom;
        padding-left: 25px;
        position: relative;
        
        &:before {
            content: "";
            width: 14px;
            height: 21px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 0px;  
        }

        &.post:before {
            background: url(../i/contact_icon1.png) left center no-repeat;
        }

        &.phone:before {
            background: url(../i/contact_icon2.png) left center no-repeat;
        }

        &.mail:before {
            background: url(../i/contact_icon3.png) left center no-repeat;
        }

        &.address:before {
            background: url(../i/contact_icon4.png) left center no-repeat;
        }

        &.worktime:before {
            background: url(../i/contact_icon5.png) left center no-repeat;
        }

        &.where:before {
            background: url(../i/contact_icon6.png) left center no-repeat;
        }

        &.when:before {
            background: url(../i/contact_icon7.png) left center no-repeat;
        }

        &.num:before {
            background: url(../i/contact_icon8.png) left center no-repeat;
        }
    }


.alone_text {
    padding: 50px 0;

    .container {
        lost-center: 750px;
        lost-utility: clearfix;
    }

    &_block {
        lost-column: 2/3;
        lost-move: 1/3;

        h3 {
            @extend section_h3;
            text-align: left;
        }

        p {
            color: #7f7f7f;
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 10px;
        }
    }
}



/*
*   text_block
*/
.text_block {
    max-width: 750px;
    padding-left: 100px;
    margin: 0 auto 60px;

    @media (--w768) {
    
    }

    &__header {
        font-family: $custom;
        color: #202628;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
    }

    &__text {
        color: #343434;
        font-size: 16px;
        line-height: 24px;
        max-width: 500px;
    }
}


.content_single_pic {
    display: block;
    max-width: 100%;
    margin: 0 auto 60px;
}