@define-extend section_h2 {
	text-align: center;
	font-family: $custom;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 30px;
	text-shadow: 5px 12px 10px rgba(0,0,0,0.15);
}

@define-extend section_h3 {
	text-align: center;
	font-family: $custom;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 15px;
	text-shadow: 5px 12px 10px rgba(0,0,0,0.15);
}

@define-extend btn {
	border-radius: 3px;
	border: 1px solid #333;
	text-transform: uppercase;
	text-align: center;
	padding: 12px 14px;
	font-size: 14px;
	line-height: 14px;
	cursor: pointer;
	margin: 20px 0;
	display: inline-block;
	transition: all 0.3s;
}


@define-extend skew_block {
	width: 143px;
	height: 240px;
	background-color: #fff;
	transform: skewY(-20deg);
	content: '';
	position: absolute;
	top: 25px;
	left: 0;
	z-index: -1;
}

