@define-extend section_h2 {
	text-align: center;
	font-family: $custom;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 15px;
	text-shadow: 5px 12px 10px rgba(0,0,0,0.15);
}

@define-extend btn {
	border-radius: 3px;
	border: 1px solid #333;
	text-transform: uppercase;
	text-align: center;
	padding: 12px 14px;
	font-size: 14px;
	line-height: 14px;
	cursor: pointer;
	margin: 20px 0;
}